<style type="text/css">
.one {
    background-color: #66CCFF !important;
}
.two {
    background-color:  #FFB85F !important;
}
.three {
    background-color: red !important;
}
.four {
    background-color:  yellow !important;
}
.five {
    background-color: green !important;
}

</style>